{% extends 'admin/base_admin.html' %}

{% load static %}

{% block title%}
Add course
{% endblock title%}

{% block nav_bar%}
    {% include 'admin/admin_nav.html' %}
{% endblock nav_bar%}

{% block slider %}
    {% include 'admin/admin_slidebar.html' %}
{% endblock slider%}

{% block body %}

<div class="wrapper">
 <!-- Content Wrapper. Contains page content -->
 <div class="content-wrapper">
   <!-- Content Header (Page header) -->
   <section class="content-header">
     <div class="container-fluid">
       <div class="row mb-2">
         <div class="col-sm-6">
           <h1><i class="nav-icon fas fa-edit">&nbsp</i>Course</h1>
         </div>
         <div class="col-sm-6">
           <ol class="breadcrumb float-sm-right">
             <li class="breadcrumb-item"><a href="index.php"><i class="fa fa-home" aria-hidden="true">&nbsp</i>Home</a></li>
             <li class="breadcrumb-item active">Course</li>
           </ol>
         </div>
       </div>
     </div><!-- /.container-fluid -->
   </section>

   <!-- Main content -->
   <section class="content">
     <div class="container-fluid">
       <div class="row">
         
         <!-- left column -->
         <div class="col-md-9 mx-auto">
         
           <!-- general form elements -->
           <div class="card card-primary">
             <div class="card-header">
               <h3 class="card-title">Add Course</h3>
             </div>
             <!-- /.card-header -->
             <!-- form start -->
             <form method="post" class="post-form" action="" enctype="multipart/form-data">
                 {% csrf_token %}
               <!-- <input type="hidden" name="u_id" value="<?php echo $row['u_id'];  ?>">
               <input type="hidden" name="action" value="<?php echo $action;   ?>"> -->

               <div class="card-body">
                 <div class="form-group">
                   <label>Course Name</label>
                   <input type="text" class="form-control" name="course_name" placeholder="Enter Course Name" required="">
                 </div>

                <div class="form-group">
                   <label>Total Number of question</label>
                   <input type="number" class="form-control" name="number_of_question" placeholder="Enter Total Number of Question" rows="3" required="">
                 </div>

                 <div class="form-group">
                   <label>Total Marks</label>
                   <input type="number" class="form-control" name="total_marks" placeholder="Enter Total Marks" required="">
                 </div>

                 <div class="form-group">
                   <label>Passing Marks</label>
                   <input type="number" class="form-control" name="passing_marks" placeholder="Enter Passing Marks" required="">
                 </div>
                 
               </div>
               <!-- /.card-body -->

               <div class="card-footer">
                 <button type="submit" class="btn btn-outline-primary">Submit</button>
               </div>
             </form>
           </div>
           <!-- /.card -->
         </div>
         <!--/.col (left) -->

       </div>
       <!-- /.row -->
     </div>
   </section>
 </div>
</div>
{% endblock body%}

{% block footer %}
    {% include 'admin/admin_footer.html' %}
{% endblock footer %}